.jIndex{
    display: flex;
    justify-content: center;
    border-bottom: 4px ridge $naranja2;
    padding-bottom: 5px;
    margin-bottom: 5px;
    a{
        margin: 2px;
    }
}
.tablaJuegos{
    line-height: 1.3;
}
.jGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    "jRating jTitle jTitle jTitle jJugadores"
    "jRating jIcons jIcons jIcons jJugadores"
    "jTec jTec jDesc jDesc jDesc";
    margin-bottom: 30px;
    min-width: fit-content;
    border-style: outset;
    border-color: $naranja2;
}
.jGrid:hover{
    background-image: radial-gradient(circle, $violeta 70%, rgba(133, 55, 40, 0.2));
}
.jContent{
    border-style: inset;
    border-color: $naranja2;
}
.jTitle{
    grid-area: jTitle;
    text-decoration: underline;
    font-size: 1.2em;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    p{
        text-align: center;
    }
}
.jRating{
    grid-area: jRating;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 32px;
    }
}
.jJugadores{
    grid-area: jJugadores;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.jIcons{
    grid-area: jIcons;
    display: flex;
    justify-content: center;
    padding: 3px;
    min-width: fit-content;
    img{
        @include size($icon);
        display: inline;
        margin-left: 2px;
        margin-right: 2px;
    }
}
.jTec{
    grid-area: jTec;
}
.jTecList{
    font-size: 0.9em;
    line-height: 1.2em;
}
.jDesc{
    grid-area: jDesc;
    details{
        p{
            font-size: 0.9em;
            line-height: 1.2em;
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
    }
}
@media only screen and (max-width: 1024px){
    .jGrid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "jTitle jTitle jTitle"
        "jRating jIcons jJugadores"
        "jTec jTec jTec"
        "jDesc jDesc jDesc";
    }
}
@media only screen and (max-width: $phone){
    .jGrid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(50px, auto), minmax(50px, auto), 100px, minmax(50px, auto), minmax(50px, auto);
        grid-template-areas: 
        "jTitle jTitle"
        "jRating jJugadores"
        "jIcons jIcons"
        "jTec jTec"
        "jDesc jDesc";
    }
}
.haciaArriba{
    div{
        position:fixed;
        bottom: 5%;
        right: 5%;
        border-style: outset;
        border-color: $naranja;
        padding: 5px;
        background-color: $naranja2;
        display: flex;
        align-content: center;
        justify-content: center;
        aspect-ratio: 1;
        height: 3rem;
        width: 3rem;
        p{
            display: block;
            text-decoration: none;
            color:$naranja;
            font-size: 1.5rem;
            height: fit-content;
        }
    }
}
.haciaArriba:hover div{
    border-style: inset;
}