footer{
    font-size: 0.5rem;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
// Volver al Inicio
.volverInicio{
    display: block;
    margin-bottom: 2%;
    font-size: 1.2em;
}
// Multimedia
.multimedia{
    font-size: 0.6rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 85px);
    grid-template-rows: 60px;
    justify-content: center;
    img{
        border: $border-double;
        padding: 2px;
    }
}
.multimedia img:hover{
    border: 3px double $naranja;
    animation-name: multIcon;
    animation-duration: 1s;
    transform: scale(1.2);
}
// Animación
@keyframes multIcon {
    0% {border: 3px double $naranja2;}
    20% {border: 3px double $naranja2; border-top: 3px double $naranja;}
    40% {border: 3px double $naranja2; border-right: 3px double $naranja;}
    60% {border: 3px double $naranja2; border-bottom: 3px double $naranja;}
    80% {border: 3px double $naranja2; border-left: 3px double $naranja;}
    100% {border: 3px double $naranja;}
}
// Responsive
@media only screen and (max-width: 1024px) {
    .multimedia{
        grid-template-areas: 
        "steam steam insta insta mail mail"
        "youtube youtube youtube multiContacto multiContacto multiContacto";
        grid-template-columns: repeat(6, 45px);
        grid-template-rows: repeat(2, 60px)
    }
    .steam{
        grid-area: steam;
    }
    .insta{
        grid-area: insta;
    }
    .mail{
        grid-area: mail;
    }
    .youtube{
        grid-area: youtube;
    }
    .multiContacto{
        grid-area: multiContacto;
    }
}
@media only screen and (max-width: 768px) {
    .multimedia{
        grid-template-areas: 
        "steam insta"
        "mail youtube"
        "multiContacto multiContacto";
        grid-template-columns: repeat(2, 85px);
        grid-template-rows: repeat(3, 60px);
    }
    .steam{
        grid-area: steam;
    }
    .insta{
        grid-area: insta;
    }
    .mail{
        grid-area: mail;
    }
    .youtube{
        grid-area: youtube;
    }
    .multiContacto{
        grid-area: multiContacto;
    }
}
