.logo{
    width: auto; 
    height: 5rem;
}
.aLogo{
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 5px;
    margin-left: 2%;
}
header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-height: 15vh;
    margin-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    div{
        form{
            margin: 0.8rem;
        }
    }
}
.buscaNav{
    display:flex;
    justify-content: center;
    flex-direction: column;
    max-width: 20%;
    padding: 5px;
}
/* Buscador */
.buscador{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}
.barraBuscador{
    display: none;
    font-size: 0.6rem;
}
.buscador:focus-within .barraBuscador{
    display: block;
}
/* Nav */
nav{
    display: flex;
    justify-content: flex-end;
    margin: 0.8rem;
    a{
        text-decoration: none;
        margin: 2px;
        border: none;
    }
    a:hover{
        color: $naranja;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
            background-color: $violeta;
            border: 3px ridge $naranja2;
        }
        li:hover{
            border: 3px ridge $naranja;
        }
    }
}
.hamburger{
    color: $violeta ;
    text-align: center;
    font-size: 1.2rem;
    display: none;
}

@media only screen and (max-width: $phone){
    header{
        padding-left: 0%;
        padding-right: 0%;
    }
    .menuTabletPc{
        display: none;
    }
    .hamburger{
        display: inline;
    }
    .dropdown-toggle::after {
        content: none;
    }
}